#arch-discovery-no-metadata-in-introduction-urls {
  background-color: yellow;
}
#arch-hypermedia-caching {
  background-color: yellow;
}
#arch-intermediary-td-extra-protocols {
  background-color: yellow;
}
#arch-media-type-extra {
  background-color: yellow;
}
#arch-privacy-consideration-access-control-mandatory-person {
  background-color: yellow;
}
#arch-privacy-consideration-explicit-pii {
  background-color: yellow;
}
#arch-privacy-consideration-min-explicit-pii {
  background-color: yellow;
}
#arch-security-consideration-avoid-direct {
  background-color: yellow;
}
#arch-security-consideration-communication-binding {
  background-color: yellow;
}
#arch-security-consideration-communication-platform {
  background-color: yellow;
}
#arch-security-consideration-dtls-1-2 {
  background-color: yellow;
}
#arch-security-consideration-dtls-1-3 {
  background-color: yellow;
}
#arch-security-consideration-hal-refuse-unsafe {
  background-color: yellow;
}
#arch-security-consideration-isolation-sensitive {
  background-color: yellow;
}
#arch-security-consideration-isolation-tenants {
  background-color: yellow;
}
#arch-security-consideration-no-earlier-tls-or-dtls {
  background-color: yellow;
}
#arch-security-consideration-no-expose-cred {
  background-color: yellow;
}
#arch-security-consideration-no-private-security-data {
  background-color: yellow;
}
#arch-security-consideration-secure-cred-isolation {
  background-color: yellow;
}
#arch-security-consideration-secure-cred-storage {
  background-color: yellow;
}
#arch-security-consideration-secure-update {
  background-color: yellow;
}
#arch-security-consideration-segmented-network {
  background-color: yellow;
}
#arch-security-consideration-tls-1-3 {
  background-color: yellow;
}
#arch-security-consideration-tls-mandatory-pub {
  background-color: yellow;
}
#arch-security-consideration-tls-optional-on-lan {
  background-color: yellow;
}
#arch-security-consideration-tls-recommended-priv {
  background-color: yellow;
}
#arch-security-consideration-use-hal {
  background-color: yellow;
}
#arch-security-consideration-use-psk {
  background-color: yellow;
}
