#arch-action-dataschema {
  background-color: yellow;
}
#arch-action-functions {
  background-color: yellow;
}
#arch-action-process {
  background-color: yellow;
}
#arch-affordances {
  background-color: yellow;
}
#arch-binding-templates-known-subprotocol {
  background-color: yellow;
}
#arch-binding-templates-media-type-optional-parameters {
  background-color: yellow;
}
#arch-binding-templates-media-type-parameters {
  background-color: yellow;
}
#arch-binding-templates-subprotocol-explicit-declaration {
  background-color: yellow;
}
#arch-discovery-metadata-after-authorization {
  background-color: yellow;
}
#arch-discovery-no-metadata-in-introduction {
  background-color: yellow;
}
#arch-discovery-no-metadata-in-introduction-urls {
  background-color: yellow;
}
#arch-discovery-should-use-standard {
  background-color: yellow;
}
#arch-event-dataschema {
  background-color: yellow;
}
#arch-event-trigger {
  background-color: yellow;
}
#arch-form-iris {
  background-color: yellow;
}
#arch-form-iris2 {
  background-color: yellow;
}
#arch-hypermedia {
  background-color: yellow;
}
#arch-hypermedia-caching {
  background-color: yellow;
}
#arch-hypermedia-protocol-binding {
  background-color: yellow;
}
#arch-intermediary-td-extra-protocols {
  background-color: yellow;
}
#arch-media-type {
  background-color: yellow;
}
#arch-media-type-extra {
  background-color: yellow;
}
#arch-networked {
  background-color: yellow;
}
#arch-op-expected-request {
  background-color: yellow;
}
#arch-op-form-fields-protocol {
  background-color: yellow;
}
#arch-op-request-method {
  background-color: yellow;
}
#arch-other-thing-representations {
  background-color: yellow;
}
#arch-privacy-consideration-access-control-mandatory-person {
  background-color: yellow;
}
#arch-privacy-consideration-dist-td-auth {
  background-color: yellow;
}
#arch-privacy-consideration-explicit-pii {
  background-color: yellow;
}
#arch-privacy-consideration-id-access-control-mandatory-immutable {
  background-color: yellow;
}
#arch-privacy-consideration-min-explicit-pii {
  background-color: yellow;
}
#arch-property-dataschema {
  background-color: yellow;
}
#arch-rel-type-lowercase {
  background-color: yellow;
}
#arch-rel-types {
  background-color: yellow;
}
#arch-schema {
  background-color: yellow;
}
#arch-security-consideration-auth-private-data {
  background-color: yellow;
}
#arch-security-consideration-avoid-direct {
  background-color: yellow;
}
#arch-security-consideration-communication-binding {
  background-color: yellow;
}
#arch-security-consideration-communication-platform {
  background-color: yellow;
}
#arch-security-consideration-dtls-1-2 {
  background-color: yellow;
}
#arch-security-consideration-dtls-1-3 {
  background-color: yellow;
}
#arch-security-consideration-hal-refuse-unsafe {
  background-color: yellow;
}
#arch-security-consideration-isolation-sensitive {
  background-color: yellow;
}
#arch-security-consideration-isolation-tenants {
  background-color: yellow;
}
#arch-security-consideration-limit-cred-access {
  background-color: yellow;
}
#arch-security-consideration-limit-trust {
  background-color: yellow;
}
#arch-security-consideration-no-earlier-tls-or-dtls {
  background-color: yellow;
}
#arch-security-consideration-no-expose-cred {
  background-color: yellow;
}
#arch-security-consideration-no-private-security-data {
  background-color: yellow;
}
#arch-security-consideration-secure-cred-isolation {
  background-color: yellow;
}
#arch-security-consideration-secure-cred-storage {
  background-color: yellow;
}
#arch-security-consideration-secure-update {
  background-color: yellow;
}
#arch-security-consideration-segmented-network {
  background-color: yellow;
}
#arch-security-consideration-separate-security-data {
  background-color: yellow;
}
#arch-security-consideration-tls-1-2 {
  background-color: yellow;
}
#arch-security-consideration-tls-1-3 {
  background-color: yellow;
}
#arch-security-consideration-tls-mandatory-pub {
  background-color: yellow;
}
#arch-security-consideration-tls-optional-on-lan {
  background-color: yellow;
}
#arch-security-consideration-tls-recommended-priv {
  background-color: yellow;
}
#arch-security-consideration-use-hal {
  background-color: yellow;
}
#arch-security-consideration-use-psk {
  background-color: yellow;
}
#arch-td-linking {
  background-color: yellow;
}
#arch-td-mandatory {
  background-color: yellow;
}
#arch-td-metadata {
  background-color: yellow;
}
